<!DOCTYPE html>
<html>
	<head>
		<title>Schwab MAS prototype</title>
		<link rel="icon" type="image/png" href="assets/images/favicon-16x16.png">
		<link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
		<link rel="stylesheet" type="text/css" href="assets/sliders/css/styles.css">
		<link rel="stylesheet" href="assets/css/index.css">
	</head>
	<body>


		<div class="container-fluid" ng-controller="SearchAndFilter">
			<div class="row filter-dropdown-row vertical-margin-row">
				<div class="col-md-4 col-sm-4">
					<div class="dropdown">
						<button id="filters-dropdown" class="btn btn-default btn-lg dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
							Filters
							<span class="caret"></span>
						</button>
						<ul class="dropdown-menu filter-ul" aria-labeledby="filters-dropdown">
							<li class="filter-li" ng-repeat="filter in filters" ng-click="selectFilter(filter)">
								<a href="#">
									{{filter.name}}
									<span class="glyphicon glyphicon-trash" aria-hidden="true" ng-click="deleteFilter(filter)"></span>
								</a>
							</li>
							<hr>
							<li class="filter-li">
								<a href="">
									Quick Filter
								</a>
							</li>
							<li class="filter-li">
								<a href="">
								Most Viewed
								</a>
							</li>
							<li class="filter-li">
								<a href="">
								Recently Viewed
								</a>
							</li>
							<li class="filter-li">
								<a href="">
								Favorites
								</a>
							</li>
							<li class="filter-li">
								<a href="">
								Recently Updated
								</a>
							</li>
						</ul>
					</div>
					<button class="btn btn-lg btn-primary">Save Filter</button>
					<button class="btn btn-lg btn-default" ng-click="clearFilters()">Clear</button>
				</div>
				<div class="col-sm-2 col-md-2 col-sm-offset-6 col-md-offset-6">
					<button class="btn btn-lg btn-default pull-right"> Compare</button>
				</div>
			</div>
			<div class="row nav-row">
				<div class="col-sm-3 col-md-3">
					<h4 class="pull-left" ng-hide="filterNameEditMode" ng-bind="selectedFilter ? selectedFilter.name : 'New Filter'" ng-click="editFilterName(selectedFilter)"></h4>
					<input type="text" class="pull-left form-control" ng-show="filterNameEditMode" ng-model="selectedFilter.name" ng-blur="filterNameEditMode = null">
					<i id="edit-filter-name" class="fa fa-pencil pull-left" ng-hide="filterNameEditMode" ng-click="editFilterName(selectedFilter)"></i>
				</div>
				<div class="col-sm-3 col-md-3 col-md-offset-6 col-sm-offset-9">
					<ul class="nav nav-tabs">
					  <li role="presentation" ng-repeat="category in categories" ng-class="{'active' : category.active}" ng-click="selectCategory(category)">
					  	<a href="#" ng-bind="category.name"></a>
					  </li>
					</ul>
				</div>
			</div>
			<div class="row mainfilter-row">
			    <div class="col-sm-2 col-md-2 dropdown" ng-repeat="category in selectedcategory.filterCategories">
			    	<div class="input-group fullwidth" >
			    		<button id="{{category.name}}" class="form-control dropdown-toggle" type="text" ng-bind="categoryValue(category)" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"></button>
			    		<div class="dropdown-menu fullwidth" aria-labeledby="{{category.name}}">
			    			<input class="form-control" type="search" ng-model="category.search" placeholder="{{'Find ' + category.name}}">
			    			<ul class="list-group maincategory-ul" ng-if="category.dataType == 'checklist'">
			    				<li class="list-group-item" ng-repeat="value in category.values|filter: category.search ">
			    					<input type="checkbox" ng-change="sync(bool,value, category)" ng-model="bool" ng-checked="isChecked(value,category)">
									<span ng-bind="value"></span>
			    				</li>
					    	</ul>
							<ul class="list-group maincategory-ul" ng-if="category.dataType == 'search'">
								<li class="list-group-item" ng-repeat="value in category.values|filter: category.search|limitTo: 5  ">
									<input type="checkbox" ng-change="sync(bool,value, category)" ng-model="bool" ng-checked="isChecked(value,category)">
									<span ng-bind="value"></span>
								</li>
							</ul>
					    	<div ng-if="filter.dataType == 'number'">
					    		<p>
  									<label for="amount">Price range:</label>
  									<input type="text" id="amount" readonly style="border:0; color:gray; font-weight:bold;">
								</p>
							 
								<div id="slider-range"></div>
					    	</div>
			    		</div>
			    	</div>
			    </div>
		  	</div>


		  	<div class="row resultnum-row">
		  		<div class="col-sm-3 col-md-3">
		  			<p class="numresults"> <b>Result:</b> 3</p>
		  		</div>

		  	</div>
		  	<div class="row">
		  		<table class="table table-striped">
		  		<thead>
		  			<tr>
		  				<th><input type="checkbox" ng-click="checkAll()"></th>
						<th></th>
						<th>Manager</th>
		  				<th>Strategy</th>
		  				<th>Asset Class</th>
		  				<th>Invest Style</th>
		  				<th>Minimum</th>
		  				<th>Strategy Status</th>
						<th>Profile</th>
						<th>Review</th>
		  			</tr>
		  		</thead>
		  		<tbody>
		  			<tr ng-repeat="strategy in strategies">
		  				<td>
		  					<input type="checkbox">
		  				</td>
						<td>
							<i class="fa" ng-class="{{strategy.status}}"></i>
						</td>
		  				<td ng-bind="strategy.moneyManager"></td>
		  				<td ng-bind="strategy.strategy"></td>
		  				<td ng-bind="strategy.assetClass"></td>
						<td ng-bind="strategy.style"></td>
		  				<td ng-bind="strategy.minimum"></td>
		  				<td ng-bind="strategy.strategyStatus">Equity</td>
		  				<td>
							<i class="fa fa-file-pdf-o" ></i>
						</td>
						<td>
							<i class="fa fa-file-pdf-o" ></i>
						</td>
		  			</tr>

		  		</tbody>
				</table>
		  	</div>
			<div class="row">
				<div class="col-md-12">
					<i class="fa icons fa-search-plus" style="color: #789d4a"></i>
					<i class="fa icons fa-plus-circle" style="color:#789d4a"></i>
					<i class="fa icons fa-line-chart"></i>
					<i class="fa icons fa-hourglass" style="color: #f2a900"></i>
					<i class="fa icons fa-hourglass-end" style="color: red"></i>
					<i class="fa icons fa-times"></i>
					<i class="fa icons fa-sign-out"></i>
					<i class="fa icons fa-info-circle" style="color:#6ba4b8"></i>
					<i class="fa icons fa-binoculars" style="color:#6ba4b8"></i>
					<i class="fa icons fa-lock"></i>
					<i class="fa icons fa-flag"></i>
				</div>
			</div>
		</div>

		<script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
		<script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
		<script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
		<script src="bower_components/lodash/lodash.min.js"></script>
		<script src="bower_components/angular/angular.min.js"></script>
		<script src="bower_components/angular-route/angular-route.js"></script>
		<script src="js/app.js"></script>
		<script src="js/services/strategies.js"></script>
		<script src="js/services/categories.js"></script>
		<script src="js/services/filters.js"></script>
	</body>
</html>