.navbar{
	margin-bottom: 0;
}

.schwab-logo{
    height: 3rem;
    width: 3rem;
}

.vertical-margin-row {
	margin-top: 2rem;
	margin-bottom: 2rem;
}

.fullwidth {
	width: 100%;
}

.filter-dropdown-row .dropdown {
	float:left;
	margin-right: 1rem;
}

.filter-ul{
	width: 300px;
}

.filter-ul hr{
	margin-top: .5rem;
	margin-bottom: .5rem;
}

.filter-li span{
	float: right;
}

.filter-li span.glyphicon-pencil{
	margin-left: .5rem;
}

.mainfilter-row, .advancedfilter-row{
	background-color: #DDEEFF;
	padding-top: 2rem;
	padding-bottom: 2rem;
}

.mainfilter-row .input-group input.form-control{
	background-color: transparent;
	padding-left: 1rem;
	border-radius: .5rem;
}

.mainfilter-row button {

	background-color: transparent;
	padding-left: 1rem;
	border-radius: .5rem;
}

.mainfilter-row .dropdown-menu{
	padding: .5rem;
}

.mainfilter-row .dropdown-menu h4{
	text-align: center
}

.mainfilter-row .dropdown-menu #id, .mainfilter-row .dropdown-menu label {
	text-align: center;
}


.resultnum-row{
	margin-top: 2rem;
}

.numresults{
	/*text-align: center;*/
}

.fa-circle.active {
	color: #BAD964;
}

.fa-circle.restricted {
	color: #e66859;
}

#edit-filter-name{
	margin-top: 1rem;
	margin-left: 1rem;
}
