.navbar{
	margin-bottom: 0;
}

.schwab-logo{
    height: 3rem;
    width: 3rem;
}

.vertical-margin-row {
	margin-top: 2rem;
	margin-bottom: 2rem;
}

.fullwidth {
	width: 100%;
}

.filter-dropdown-row .dropdown {
	float:left;
	margin-right: 1rem;
}

.filter-ul{
	width: 40%;
}

.filter-ul hr{
	margin-top: .5rem;
	margin-bottom: .5rem;
}

.filter-li span{
	float: right;
}

.filter-li span.glyphicon-pencil{
	margin-left: .5rem;
}

.mainfilter-row, .advancedfilter-row{
	background-color: #DDEEFF;
	padding-top: 2rem;
	padding-bottom: 2rem;
}

.mainfilter-row .input-group input.form-control{
	background-color: transparent;
	padding-left: 1rem;
	border-radius: .5rem;
}

.resultnum-row{
	margin-top: 2rem;
}

.numresults{
	/*text-align: center;*/
}